<style>
    table {
        width: 100% !important;
        max-width: 100% !important;
    }
  
    td {
        padding: 0px 0px !important;
    }
 </style>
 <p><b style="color: #e6992a;">
    {{_("Hello")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</b>
 </p>
 <p>Congratulations! You have successfully registered on our platform as a Vendor.</p>
 <p>You can easily list your equipment for rent or sale in an easy-to-follow process to help you start and scale your
    business considerably.</p>
 <p>Earn 20% higher margins while also attracting a diverse range of customers for your construction equipment. </p>
 <p>All set to list your equipment?</p>
  
 <p style="margin: 15px 0px; ">
    <a href="{{ link }}" rel="nofollow" class="btn" style="background-color: #e6992a;">{{ _("Do It Right Away!") }}</a>
 </p>
  
 <p>Thanks & Regards,</p>
  
 <p><img src="https://migoocrm.frappe.cloud/files/download%20(1).png"></p>
  
 <p>Arjun Pachani</p>
  
 <p>CEO, Migoo Equipments</p>
  
  
 <p style="margin: 15px 0px; "><a href="https://www.facebook.com/people/Migoo-Equipments/100087829991875/?mibextid=ZbWKwL"><img src="https://www.migoo.in/files/facebook.png"></a>
 <a href="https://www.instagram.com/migoo_equipment/?igshid=YmMyMTA2M2Y%3D"><img src="https://www.migoo.in/files/instagram.png"></a>
 <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQE3GrOu_soLXAAAAYTnfV7Ak5NhrLNM9IxIvNuvfFL51XjUZjWDRN_WROWhhGDHQfI05HuUk46hX4INHsRvXff6X08bFwXCpC3OG-A7nocY7Rtqb7kN1teuUQMukrXRVO5ai84=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fmigoo-equipments-270563257"><img src="https://www.migoo.in/files/linkedin.png"></a>
 <a href="https://api.whatsapp.com/send/?phone=917969212200&text&type=phone_number&app_absent=0"><img src="https://www.migoo.in/files/whatsapp.png"></a>
 <a href="https://twitter.com/MigooEquipments"><img src="https://www.migoo.in/files/twitter-sign.png"></a></p>
 